.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.linkButton {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: #007bff;
  border-radius: 5pt;
  text-decoration: none;
  font-size: 12pt;
  margin: 5px;
}
.projectsHeading {
  margin-top: 0;
  padding-top: 0;
  color: 'white';
}
.buttonLine {
  margin: 20px;
}
body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#schoolInfo {
  padding-bottom: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
  color: white;
  margin-top: 0;
}
#gradInfo {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}
.linkItem {
  padding: 10px;
}
h1 {
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 5px;
}
h3 {
  color: white;
  margin-bottom: 0;
}
h5 {
  color: #888;
}
a {
  color: white;
}
a svg {
  position: relative;
  top: 2px;
}
a:visited {
  color: white;
}

.projectItemContainer {
  max-width: 420px;

  margin-top: 15px;
}
.projectItemTech {
  margin: 10px;
  margin-bottom: 20px;
}
.projectItemBox {
  border: 1px solid #888;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  margin: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.projectItemBox p {
  font-size: 14pt;
  color: white;
}
.projectItemName {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18pt;
}
.projectBox {
  display: flex;
  max-width: 1000px;
  justify-content: center;
  flex-wrap: wrap;
}
.projectTechBox {
  align-content: space-between;
  display: flex;
  flex-wrap: wrap;
  width: 3807x;
  justify-content: space-between;
  margin-top: 10px;
}
.projectTechItem {
  display: inline-block;
  margin: 5px;
  margin-left: 8px;
  margin-right: 8px;
  width: 110px;
}
.projectTechItemDesc {
  font-size: 12pt;
  color: #888;
  padding-bottom: 5px;
}

.projectTechItemName {
  font-size: 14pt;
  color: white;
}
.footer {
  margin-top: 40px;
  margin-bottom: 20px;
}
.footerText {
  font-size: 12pt;
  color: #888;
}
.footerLink {
  color: #888;
  font-size: 12pt;
}
