.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}
.linkButton {
  padding: 10px;
  border: 1px solid #007bff;
  background-color: #007bff;
  border-radius: 5pt;
  text-decoration: none;
  font-size: 12pt;
  margin: 5px;
}
.buttonLine {
  margin: 20px;
}
body {
  background-color: #282c34;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#schoolInfo {
  padding-bottom: 0px;
  margin-bottom: 5px;
}
#gradInfo {
  padding: 0px;
  margin: 0px;
  margin-bottom: 30px;
}
.linkItem {
  padding: 10px;
}
h3,
h5 {
  opacity: 0.5;
}
a {
  color: white;
}
a svg {
  position: relative;
  top: 2px;
}
a:visited {
  color: white;
}
